*, /**/
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Jost', sans-serif;
  line-height: 1.5;
  color: #fff;
}

h1, h2, h3, h4, h5, h6, p, nav {
  margin: 0;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a,
a:hover,
a:active  {
  text-decoration: none;
  color: #fff;
}

.content_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  max-width: 1110px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  padding: 15px 0;
} /**/

@media (min-width: 992px) and (max-width: 1199px) {
  .content_container {
    width: 90%;
  }/**/
}

@media (min-width: 768px) and (max-width: 991px) {
  .content_container {
    width: 90%;
  }/**/
}

@media (max-width: 767px) {
  .content_container {
    width: 90%;
  }/**/
}

/*--------------------------- Scrollbar ------------------------------*/

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #091023;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

/*--------------------------- Scrollbar ------------------------------*/

/*--------------------------- Background ------------------------------*/

.bg {
  width: 100vw;
  background: #fff;
}
.bg.intro {
  position: relative;
  height: 100vh;
  background: #000;
  overflow: hidden;
}
.bg.services {
  height: 2086px;
}
.bg.fleet {
  height: 1428px;
  background: #000;
}
.bg.clients {
  height: 925px;
}
.bg.contacts {
  height: 792px;
  background: #808080;
}
.bg.booking {
  height: 341px;
  background: #000;
}
.bg.footer {
  height: 83px;
}
.intro_img {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 1;
}

@media (max-width: 767px) {
  .bg.intro { height: 1200px;}
}

@media (max-width: 360px) {
  .bg.services { height: 2321px; }
  .bg.fleet { height: 2948px; }
  .bg.clients { height: 933px; }
  .bg.contacts { height: 895px; }
  .bg.booking { height: 476px; }
  .bg.footer { height: 86px; }
}

/*--------------------------- Background ------------------------------*/

/*--------------------------- Header ------------------------------*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
} /**/
header h4 {
  white-space: nowrap;
} /**/
.header_left {
  position: relative;
  display: flex;
  width: 85%;
  justify-content: flex-start;
  align-items: baseline;
} /**/
.header_left a {
  display: block;
} /**/
.logo {
  display: flex;
  position: relative;
  padding-left: 80px;
} /**/
.logo_img {
  position: absolute;
  height: 110px;
  left: 0;
  top: -10px;
} /**/
.logo h3 {
  padding: 0 15px ;
  font-weight: 900;
} /**/


.burger {
  position: relative;
  margin: 5px 20px;
  z-index: 2;
  display: block;
  width: 30px;
  height: 20px;
} /**/
.burger span {
  position: absolute;
  background-color: #fff;
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px;
} /**/
.burger:before,
.burger:after {
  content: '';
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
} /**/
.burger:before {
  top: 0;
} /**/
.burger:after {
  bottom: 0;
} /**/
.burger.active span {
  transform: scale(0);
  transition: all 0.3s ease 0s;
} /**/
.burger.active:before {
  transform: rotate(45deg);
  top: 9px;
  transition: all 0.3s ease 0s;
} /**/
.burger.active:after {
  transform: rotate(-45deg);
  bottom: 9px;
  transition: all 0.3s ease 0s;
} /**/


.navigation {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.5);
  padding: 18px 30px 18px 60px;
  left: 180px;
  top: -500px;
  z-index: 1;
} /**/
.navigation.active {
  top: -15px;
} /**/


.header_menu {
  display: flex;
  align-items: center;
  height: 60px;
} /**/
.header_list {
  display: flex;
  align-items: center;
} /**/
.header_list li {
  list-style: none;
  margin-left: 25px;
} /**/
.header_link {
  color: #fff;
} /**/


.intro_description {
  width: 50%;
} /**/
.intro_description h1 {
  margin-bottom: 10px;
  line-height: 1.4;
} /**/
.intro_description p {
  width: 80%;
} /**/


.intro_advantage {
  display: flex;
  align-items: flex-start;
  width: 40%;
} /**/
.intro_advantage_img {
  width: 52px;
  margin: 9px 23px 0 0;
} /**/
.intro_advantage_title {
  margin-bottom: 5px;
} /**/

/*Form ->->->*/

@media (min-width: 992px) and (max-width: 1199px) {
  .navigation {
    justify-content: center;
    height: 280px;
    width: 200px;
    background: #000;
    padding: 18px 25px;
    border: #091023 1px solid;
  } /**/
  .header_list {
    flex-direction: column;
  } /**/
  .header_list li {
    margin-top: 15px;
    margin-left: 0;
  } /**/

}

@media (min-width: 768px) and (max-width: 991px) {
  .navigation {
    justify-content: center;
    height: 280px;
    width: 200px;
    background: #000;
    padding: 18px 25px;
    border: #091023 1px solid;
  } /**/
  .header_list {
    flex-direction: column;
  } /**/
  .header_list li {
    margin-top: 15px;
    margin-left: 0;
  } /**/

  .intro_description h1 {
    font-size: 28px;
    width: 70%;
    min-width: 360px;
  } /**/

  .intro_advantage {
    width: 40%;
    min-width: 310px;
  } /**/
}

@media (max-width: 767px) {
  header h4 {
    display: none;
  } /**/
  .header_left {
    width: 100%;
    justify-content: space-between;
  } /**/

  .navigation {
    justify-content: center;
    height: 280px;
    width: 200px;
    background: #000;
    padding: 18px 25px;
    left: auto;
    right: 0;
    border: #091023 1px solid;
  } /**/
  .header_list {
    flex-direction: column;
  } /**/
  .header_list li {
    margin-top: 15px;
    margin-left: 0;
  } /**/

  .intro_description {
    width: 75%;
  } /**/
  .intro_description h1 {
    font-size: 26px;
  } /**/
  .intro_description p {
    width: 100%;
  } /**/

  .intro_advantage {
    width: 70%;
  } /**/
  .intro_advantage_title {
    font-size: 22px;
  } /**/

}

@media (max-width: 360px) {
  .navigation {
    height: 280px;
    width: 100%;
  } /**/

  .intro_description {
    width: 80%;
  } /**/
  .intro_description h1 {
    font-size: 24px;
  } /**/

  .intro_advantage {
    width: 100%;
  } /**/
  .intro_advantage_title {
    font-size: 18px;
  } /**/

}

/*--------------------------- Header ------------------------------*/

/*--------------------------- Form ------------------------------*/

.intro_booking {
  height: 25%;
  width: 100%;
  margin-bottom: 30px;
}

.booking_container_bottom {
  height: 50%;
  padding-bottom: 5%;
}

.booking {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.booking_form {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 100%;
  justify-content: space-between;
}

.booking_fields {
  width: 100%;
  padding-bottom: 25px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  justify-items: center;
}

.item {
  width: 100%;
  min-width: 195px;
  max-width: 255px;
  height: 100%;
  border: none;
  border-radius: 5px;
} /**/

.field {
  background: #c4c4c4;
  color: #808080;
  padding: 13px 10px;
} /**/

.field:focus {
  color: #000;
  background: #fff;
  outline: none;
} /**/

.btn {
  padding: 0;
  color: #fff;
  background: #15468d;
  cursor: pointer;
} /**/

.checkbox {

}

@media (min-width: 768px) and (max-width: 991px) {
  .intro_booking {
    height: 30%;
  }

  .booking_title {
    font-size: 26px;
  }

  .booking_form {
    height: 70%;
  }

  .booking_fields {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 50px;
    justify-items: center;
  }
}

@media (max-width: 767px) {
  .intro_booking {
    height: 40%;
  }

  .booking_title {
    font-size: 26px;
  }

  .booking_form {
    height: 80%;
  }

  .booking_fields {
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px 50px 50px;
    justify-items: baseline;
  }
}

/*--------------------------- Form ------------------------------*/

/*--------------------------- Contacts ------------------------------*/

#contacts_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 63%;
  padding-bottom: 10%;
}

#contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
  width: 35%;
}

#map_container {
  width: 65%;
  height: 100%;
}

.contacts_and_map {
  display: flex;
  justify-content: space-between;
  height: 80%;
}

#yandex_map {
  position: relative;
  overflow: hidden;
}

/*--------------------------- Contacts ------------------------------*/

/*--------------------------- Fleet ------------------------------*/

.grid {
  display: grid;
  grid: 382px 382px 382px / 1fr 1fr 1fr;
  
}

.plane {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.plane_img {
  width: 95%;
}

.plane_description {
  width: 95%;
}

/*--------------------------- Fleet ------------------------------*/

/*--------------------------- Services ------------------------------*/

#services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 55%;
  width: 100%;
}

#services_description {
  color: #000;
  width: 70%;
  align-items: center;
}

#services_options {
  display: grid;
  grid: 415px 415px / 1fr 1fr;
  width: 100%;
}

.option {
  position: relative;
}

.option h2 {
  position: relative;
  font-weight: 400;
  margin-top: 60%;
  margin-left: 5%;
  z-index: 2;
  overflow: hidden;
}

.option_bg {
  position: absolute;
  z-index: 1;
  height: 100%;
}

  /*--------------------------- Company ------------------------------*/

  #company {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 35%;
    width: 100%;
  }
  
  #company h3 {
    font-weight: 400;
    text-align: center;
    width: 40%;
  }
  
  #company p {
    width: 80%;
  }
  
  #advantages_company {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  #advantages_company div {
    width: 24%;
  }
  
  /*clients*/
  
  #clients_description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #clients_description p {
    width: 32%;
    text-align: center;
    line-height: 1.6;
  }
  
  .feedback {
    background: #e5e5e5;
    padding: 20px;
    border-radius: 20px;
  }

  /*--------------------------- Company ------------------------------*/

/*--------------------------- Services ------------------------------*/

/*--------------------------- Styles ------------------------------*/

.txt_black {
  color: #000;
}

.txt_bold {
  font-weight: 700;
}

.center {
  display: flex;
  justify-content: center;
}

/*--------------------------- Styles ------------------------------*/




/*--------------------------- Media ------------------------------*/

@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 767px) {

}

@media (max-width: 360px) {

}

/*--------------------------- Media ------------------------------*/