body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Jost', sans-serif;
  color: #fff;
}

h1, h2, h3, h4, h5, h6, p, nav {
  margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #091023;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

/*Background*/

.bg {
  width: 100vw;
  background: #fff;
}

.bg.header {
  position: relative;
  height: 100vh;
  background: #000;
  overflow: hidden;
}

.bg.services {
  height: 2086px;
}

.bg.fleet {
  height: 1428px;
  background: #000;
}

.bg.clients {
  height: 925px;
}

.bg.contacts {
  height: 792px;
  background: #808080;
}

.bg.booking {
  height: 341px;
  background: #000;
}

.bg.footer {
  height: 83px;
}

#intro {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 1;
}

/*Containers*/

.main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  height: 100%;
  margin: 0 auto;
}

#container_header {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  
}

#content_header_container {
  position: relative;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 960px;
  z-index: 2;
}

.header_txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20%;
  line-height: 1.4;
  width: 60%;
}

.header_info {
  display: flex;
  width: 40%;
}

.header_info div {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#header_left {
  display: flex;
  width: 25%;
  justify-content: space-between;
}

#logo {
  display: flex;
}

#logo h3 {
  font-weight: 900;
}

#hamburger {
  margin-top: 7px;
}



/*Form*/
#booking_container_top {
  height: 20%;
  width: 100%;
}

#booking_container_bottom {
  height: 50%;
  padding-bottom: 5%;
}

.book_flight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-between;
}

.fields {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.item {
  width: 22%;
  border: none;
  border-radius: 5px;
}

.field {
  background: #c4c4c4;
  color: #808080;
  padding: 13px 10px;
}

.field:focus {
  color: #000;
  background: #fff;
  outline: none;
}

.btn {
  padding: 0;
  color: #fff;
  background: #15468d;
  cursor: pointer;
}

.checkbox {
  background-color: #000;
}

/**/

/*Contacts*/

#contacts_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 63%;
  padding-bottom: 10%;
}

#contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.5;
  height: 60%;
  width: 35%;
}

#map_container {
  width: 65%;
  height: 100%;
}

.contacts_and_map {
  display: flex;
  justify-content: space-between;
  height: 80%;
}


#yandex_map {
  position: relative;
  overflow: hidden;
}

/*grid*/

.grid {
  display: grid;
  grid: 382px 382px 382px / 1fr 1fr 1fr;
  margin: 5% 0;
}

.plane {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.plane_img {
  width: 95%;
}

.plane_description {
  width: 95%;
  line-height: 1.5;
}

/**/

.txt_black {
  color: #000;
}

.txt_bold {
  font-weight: 700;
}

.center {
  display: flex;
  justify-content: center;
}





@media only screen and (max-width: 480px) {
  .bg.header { height: 961px; }
  .bg.services { height: 2321px; }
  .bg.fleet { height: 2948px; }
  .bg.clients { height: 933px; }
  .bg.contacts { height: 895px; }
  .bg.booking { height: 476px; }
  .bg.footer { height: 86px; }
}