*, /**/
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Jost', sans-serif;
  line-height: 1.5;
  color: #fff;
}

h1, h2, h3, h4, h5, h6, p, nav {
  margin: 0;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a,
a:hover,
a:active  {
  text-decoration: none;
  color: #fff;
}

.content_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  max-width: 1110px;
  min-width: 0;
  height: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  padding: 15px 0;
  overflow: hidden;
} /**/

@media (min-width: 992px) and (max-width: 1199px) {
  .content_container {
    width: 90%;
  }/**/
}

@media (min-width: 768px) and (max-width: 991px) {
  .content_container {
    width: 90%;
  }/**/
}

@media (max-width: 767px) {
  .content_container {
    width: 90%;
  }/**/
}

/*--------------------------- Scrollbar ------------------------------*/

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #091023;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

/*--------------------------- Scrollbar ------------------------------*/

/*--------------------------- Background ------------------------------*/

.bg {
  width: 100vw;
  background: #fff;
}
.bg.intro {
  position: relative;
  height: 100vh;
  background: #000;
  overflow: hidden;
}
.bg.info {
  height: 2086px;
}
.bg.fleet {
  height: 1428px;
  background: #000;
}
.bg.clients {
  height: 925px;
}
.bg.contacts {
  height: 792px;
  background: #808080;
}
.bg.booking {
  height: 341px;
  background: #000;
}
.bg.footer {
  height: 83px;
}
.intro_img {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 1;
}

@media (max-width: 767px) {
  .bg.intro { height: 1200px;}
  .bg.info { height: 2321px; }

  .bg.booking { height: 476px; }
}

@media (max-width: 360px) {
  .bg.fleet { height: 2948px; }
  .bg.clients { height: 933px; }
  .bg.contacts { height: 895px; }
  
  .bg.footer { height: 86px; }
}

/*--------------------------- Background ------------------------------*/

/*--------------------------- INTRO: Header ------------------------------*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 0 50px 0;
} /**/
header h4 {
  white-space: nowrap;
} /**/
.header_left {
  position: relative;
  display: flex;
  width: 85%;
  justify-content: flex-start;
  align-items: baseline;
} /**/
.header_left a {
  display: block;
} /**/
.logo {
  display: flex;
  position: relative;
  padding: 0 0 0 80px;
} /**/
.logo_img {
  position: absolute;
  height: 110px;
  left: 0;
  top: -10px;
} /**/
.logo h3 {
  padding: 0 15px ;
  font-weight: 900;
} /**/


.burger {
  position: relative;
  margin: 5px 20px;
  z-index: 2;
  display: block;
  width: 30px;
  height: 20px;
} /**/
.burger span {
  position: absolute;
  background-color: #fff;
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px;
} /**/
.burger:before,
.burger:after {
  content: '';
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
} /**/
.burger:before {
  top: 0;
} /**/
.burger:after {
  bottom: 0;
} /**/
.burger.active span {
  transform: scale(0);
  transition: all 0.3s ease 0s;
} /**/
.burger.active:before {
  transform: rotate(45deg);
  top: 9px;
  transition: all 0.3s ease 0s;
} /**/
.burger.active:after {
  transform: rotate(-45deg);
  bottom: 9px;
  transition: all 0.3s ease 0s;
} /**/


.navigation {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.5);
  padding: 18px 30px 18px 60px;
  left: 180px;
  top: -500px;
  z-index: 1;
} /**/
.navigation.active {
  top: -15px;
} /**/


.header_menu {
  display: flex;
  align-items: center;
  height: 60px;
} /**/
.header_list {
  display: flex;
  align-items: center;
} /**/
.header_list li {
  list-style: none;
  margin: 0 0 0 25px;
} /**/
.header_link {
  color: #fff;
} /**/


.intro_description {
  width: 50%;
} /**/
.intro_description h1 {
  margin: 0 0 10px 0;
  line-height: 1.4;
} /**/
.intro_description p {
  width: 80%;
} /**/


.intro_advantage {
  display: flex;
  align-items: flex-start;
  width: 40%;
} /**/
.intro_advantage_img {
  width: 52px;
  margin: 9px 23px 0 0;
} /**/
.intro_advantage_title {
  margin: 0 0 5px 0;
} /**/

/*Form ->->->*/

@media (min-width: 992px) and (max-width: 1199px) {
  .navigation {
    justify-content: center;
    height: 280px;
    width: 200px;
    background: #000;
    padding: 18px 25px;
    border: #091023 1px solid;
  } /**/
  .header_list {
    flex-direction: column;
  } /**/
  .header_list li {
    margin: 15px 0 0 0;
  } /**/

}

@media (min-width: 768px) and (max-width: 991px) {
  .navigation {
    justify-content: center;
    height: 280px;
    width: 200px;
    background: #000;
    padding: 18px 25px;
    border: #091023 1px solid;
  } /**/
  .header_list {
    flex-direction: column;
  } /**/
  .header_list li {
    margin: 15px 0 0 0;
  } /**/

  .intro_description h1 {
    font-size: 28px;
    width: 70%;
    min-width: 360px;
  } /**/

  .intro_advantage {
    width: 40%;
    min-width: 310px;
  } /**/
}

@media (max-width: 767px) {
  header h4 {
    display: none;
  } /**/
  .header_left {
    width: 100%;
    justify-content: space-between;
  } /**/

  .navigation {
    justify-content: center;
    height: 280px;
    width: 200px;
    background: #000;
    padding: 18px 25px;
    left: auto;
    right: 0;
    border: #091023 1px solid;
  } /**/
  .header_list {
    flex-direction: column;
  } /**/
  .header_list li {
    margin: 15px 0 0 0;
  } /**/

  .intro_description {
    width: 75%;
  } /**/
  .intro_description h1 {
    font-size: 26px;
  } /**/
  .intro_description p {
    width: 100%;
  } /**/

  .intro_advantage {
    width: 70%;
  } /**/
  .intro_advantage_title {
    font-size: 22px;
  } /**/

}

@media (max-width: 360px) {
  .navigation {
    height: 280px;
    width: 100%;
  } /**/

  .intro_description {
    width: 80%;
  } /**/
  .intro_description h1 {
    font-size: 24px;
  } /**/

  .intro_advantage {
    width: 100%;
  } /**/
  .intro_advantage_title {
    font-size: 18px;
  } /**/

}

/*--------------------------- Header ------------------------------*/

/*--------------------------- INTRO: Form ------------------------------*/

.intro_booking {
  height: 25%;
  width: 100%;
  margin: 0 0 30px 0;
} /**/

.bottom_booking {
  margin-bottom: 5%;
} /**/

.booking {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
} /**/

.booking_form {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 100%;
  justify-content: space-between;
} /**/

.booking_fields {
  width: 100%;
  padding: 0 0 25px 0;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  justify-items: center;
} /**/

.item {
  width: 100%;
  min-width: 195px;
  max-width: 255px;
  height: 100%;
  border: none;
  border-radius: 5px;
} /**/

.field {
  background: #c4c4c4;
  color: #808080;
  padding: 13px 10px;
} /**/

.field:focus {
  color: #000;
  background: #fff;
  outline: none;
} /**/

.btn {
  padding: 0;
  color: #fff;
  background: #15468d;
  cursor: pointer;
} /**/

@media (min-width: 768px) and (max-width: 991px) {
  .intro_booking {
    height: 30%;
  }

  .booking_title {
    font-size: 26px;
  }

  .booking_form {
    height: 70%;
  }

  .booking_fields {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 50px;
    justify-items: center;
  }
}

@media (max-width: 767px) {
  .intro_booking {
    height: 40%;
  }

  .booking_title {
    font-size: 26px;
  }

  .booking_form {
    height: 80%;
  }

  .booking_fields {
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px 50px 50px;
    justify-items: baseline;
  }
}

@media (max-width: 360px) {
  .booking_title {
    font-size: 26px;
  }
}

/*--------------------------- Form ------------------------------*/

/*--------------------------- INFO: Services ------------------------------*/

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 50%;
}

.services_title {
  color: #000;
  font-size: 36px;
}

.services_description {
  color: #000;
  width: 70%;
}

@media (min-width: 768px) and (max-width: 991px) {
  .services {
    height: 45%;
  }

  .services_description {
    width: 80%;
  }
}

@media (max-width: 767px) {
  .services {
    height: 30%;
  }

  .services_title {
    font-size: 30px;
  }

  .services_description {
    width: 100%;
    max-width: 600px;
  }
}

@media (max-width: 360px) {
  .services_title {
    font-size: 26px;
  }

  .services_description {
    width: 100%;
  }
}

/*---------- без слайдера ширина 768 и выше ----------*/

.service_options {
  display: block;
  width: 100%;
  height: 85%;
}

.service_options_grid {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  width: 100%;
  height: 100%;
}


@media (min-width: 992px) and (max-width: 1199px) {
  .service_options {
    height: 80%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .service_options {
    height: 80%;
  }

  .slide_title {
    font-size: 28px;
  }
}

/*---------- со слайдером ширина 767 и ниже----------*/

.service_options_slider {
  display: none;
  width: 100%;
  min-width: 0;
  height: 65%;
}

.service_options_container {
  height: 100%;
  width: 100%;
}

.slide_content {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;

  height: 100%;
  width: 100%;
}

.bg_plane {
  background-image: url(images/services/charter_flights.jpg);
}

.bg_helicopter {
  background-image: url(images/services/helicopter_rental.jpg);
}

.bg_security {
  background-image: url(images/services/transportation_valuables.jpg);
}

.bg_car {
  background-image: url(images/services/transfer_escort.jpg);
}

.slide_title {
  font-weight: 400;
  padding: 0 0 20px 0;
  text-align: center;
}

@media (max-width: 767px) {
  .service_options_slider {
    display: block;
  }

  .service_options {
    display: none;
  }
}

@media (max-width: 360px) {
  .slide_title {
    font-size: 26px;
  }
}

/*--------------------------- Services ------------------------------*/

/*--------------------------- INFO: Company ------------------------------*/

.company {
  color: #000;
  height: 40%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.company_title {
  font-size: 36px;
}
.company_subtitle {
  font-weight: 400;
  text-align: center;
  width: 50%;
  font-size: 27px;
}
.company_description {
  width: 80%;
}
.company_advantages {
  display: flex;
  height: 50%;
}
.company_advantages_half {
  display: flex;
  width: 50%;
  height: 100%;
}
.company_advantage {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.advantage_description {
  padding: 0 10px;
  height: 75%;
}

@media (min-width: 768px) and (max-width: 991px) {
  .company {
    height: 50%;
  }

  .company_title {
    font-size: 30px;
  }
  
  .company_subtitle {
    font-size: 22px;
  }

  .company_description {
    width: 90%;
  }

  .company_advantages {
    height: 55%;
  }

  .advantage_description {
    height: 80%;
  }
}

@media (max-width: 767px) {
  .company {
    height: 65%;
  }

  .company_title {
    font-size: 30px;
  }
  
  .company_subtitle {
    font-size: 22px;
    width: 100%;
    max-width: 400px;
  }

  .company_description {
    width: 100%;
    max-width: 600px;
  }

  .company_advantages {
    flex-direction: column;
    align-items: center;
    height: 65%;
    max-width: 500px;
  }

  .company_advantages_half {
    width: 100%;
  }

  .advantage_description {
    padding: 0 15px 15px 15px;
    height: 85%;
  }
}

@media (max-width: 360px) {

  .company_title {
    font-size: 26px;
  }
  
  .company_subtitle {
    font-size: 20px;
    width: 100%;
  }

  .company_description {
    width: 100%;
  }

  .company_advantages {
    height: 70%;
  }

  .company_advantages_half {
    width: 100%;
  }

  .advantage_img {
    height: 50px;
  }

  .advantage_description {
    padding: 0 15px 15px 15px;
    height: 85%;
  }
}

/*--------------------------- Company ------------------------------*/







/*--------------------------- Contacts ------------------------------*/

#contacts_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 63%;
  padding: 0 0 10% 0;
}

#contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
  width: 35%;
}

#map_container {
  width: 65%;
  height: 100%;
}

.contacts_and_map {
  display: flex;
  justify-content: space-between;
  height: 80%;
}

#yandex_map {
  position: relative;
  overflow: hidden;
}

/*--------------------------- Contacts ------------------------------*/

/*--------------------------- Fleet ------------------------------*/

.grid {
  display: grid;
  grid: 382px 382px 382px / 1fr 1fr 1fr;
  
}

.plane {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.plane_img {
  width: 95%;
}

.plane_description {
  width: 95%;
}

/*--------------------------- Fleet ------------------------------*/


/*--------------------------- Styles ------------------------------*/

.txt_black {
  color: #000;
}

.txt_bold {
  font-weight: 700;
}

.center {
  display: flex;
  justify-content: center;
}

/*--------------------------- Styles ------------------------------*/








/*--------------------------- Footer ------------------------------*/

.footer_description {
  color: #000;
}

/*--------------------------- Footer ------------------------------*/

/*--------------------------- Media ------------------------------*/

@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 767px) {

}

@media (max-width: 360px) {

}

/*--------------------------- Media ------------------------------*/


